{# app/Resources/views/default/index.html.twig #}
{% extends 'base.html.twig' %}
{% block connexion %}
<div class="connexion">
	<img class="profilPic" src="{{user.profilPic}}">
	<h1>{{user.username}} {{user.email}}</h1>
	<a href="/user/edit">Personaliser mon profil</a>
	<br>
	<a href="user/{{user.id}}/nonfriend">Suivre des personnes</a>
	<br>
	<a href="logout">Se déconnecter</a>
</div>
{% endblock %}
{% block body %}
<h1 class="sectionTitle">Exprimez-vous</h1>
<textarea name="message" placeholder="Votre message ici" id="messageInput"></textarea>
<br>
<button id="postMessageButton" class="postButton button">Postez</button>
<h1 class="sectionTitle">Liste des posts</h1>
<div id="listePost">
	{% for post in posts %}
	{% if post.repost == true %}
	<div class="post">
		<div class="autorRT">Retweeté par {{post.getauthor.getusername}}</div>
		<div class="top">
			<img class="profilPic" src="{{post.getreposttarget.getauthor.getprofilpic}}">
			<div class="author">{{post.getreposttarget.getauthor.getusername}} <div class="email">{{post.getreposttarget.getauthor.getemail}}</div></div>
			<div class="postTime">{{post.getreposttarget.dateUpdate|date("d/m/Y")}}</div>
			<div class="follow"><button data-idAuthor="{{post.getreposttarget.getauthor.getid}}" class="followButton button">Suivre</button></div>
		</div>
		<div class="content">{{post.getreposttarget.message}}<div class="embed"><!--<img class="embedPic" src="http://www.tao-restaurant.fr/wp-content/uploads/2013/03/plage20111102.jpg">--></div></div>
		<div class="socialButton"><button data-idPost="{{post.getreposttarget.id}}" class="like button">J'aime</button>nb-jaime<button data-idPost="{{post.getreposttarget.id}}" class="RT button">RT</button>nb-RT <button data-idPost="{{post.getreposttarget.id}}" class="report button">Signaler</button></div>
	</div>
	{% else %}
	<div class="post">
		<div class="top">
			<img class="profilPic" src="{{post.getauthor.getprofilpic}}">
			<div class="author">{{post.getauthor.getusername}} <div class="email">{{post.getauthor.getemail}}</div></div>
			<div class="postTime">{{post.dateUpdate|date("d/m/Y")}}</div>
			<div class="follow"><button data-idAuthor="{{post.getauthor.getid}}" class="followButton button">Suivre</button></div>
		</div>
		<div class="content">{{post.message}}<div class="embed"><!--<img class="embedPic" src="http://www.tao-restaurant.fr/wp-content/uploads/2013/03/plage20111102.jpg">--></div></div>
		<div class="socialButton"><button data-idPost="{{post.id}}" class="like button">J'aime</button>nb-jaime<button data-idPost="{{post.id}}" class="RT button">RT</button>nb-RT <button data-idPost="{{post.id}}" class="report button">Signaler</button></div>
	</div>
	{% endif %}
	{% endfor %}
</div>
{% endblock %}
{% block stylesheets %}
{% stylesheets 'bundles/app/css/main.css' filter="cssrewrite" %}
<link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}